.clear {
    clear: both;
}

.text-align-center {
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.relative {
    position: relative;
}

.full-view-height {
    height: 100vh;
}

