@import 'colors';
// @import '../../node_modules/material-design-lite/src/material-design-lite';

@import "scrolldown";
@import "shorthands";
@import "panels";

html, body {
    height: 100%;
    margin: 0;
    background-color: $color-background;
    padding-bottom: 4em;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
  }

  body {
    overflow: hidden;
  }

  a {
    text-decoration: none;
  }
  a::-moz-focus-inner {
    border: 0;
  }

  hr {
    color: $color-divider;
  }

  footer {
    margin-top: 3em;
    margin-bottom: 1em;
    width: 100%;
  }

  .panel-open header {
    height: initial;
  }

  header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-background !important;

    .logout {
      display: none !important;
    }

    .text-align-center {
      bottom: 45vh;
      position: absolute;
    }

    div {
        margin-top:-10vh;

        .img {
          width: 432px;
          height: 175px;
          background-repeat: no-repeat;
          background-position-x: center;
          background-position-y: center;
        }
        button, .img {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }
  }

  .logged-in {
      header
      {
        .login {
          display: none;
        }

        .logout {
          display: block !important;
        }
      }
  }

  .logged-in {
    .mdl-layout__drawer .login {
      display: none;
    }

    .mdl-layout__drawer .logout {
      display: block !important;
    }
  }

  .mdl-layout__drawer {
    .logout {
      display: none !important;
    }
  }

  .panel-open {
    #banner, #banner-mobile {
      display: none;
    }

    header {
      .login, .logout {
        display: none;
      }
    }
  }

  #banner-mobile {
    div {
      height: 250px;
    }
    .img {
      background-size: 300px;
      background-position: center;
      background-repeat: no-repeat;
      width: 400px;
      height: 117px;
    }
  }

  section.panel {
    margin-bottom: 3em;
  }

#idea-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &:first-child {
      margin-left: 2em;
      }

        .mdl-card {
          margin-right: 2em;
          margin-bottom: 2em;
          height: 400px;
          width: 30%;

          .mdl-card__actions {
            display: flex;
            justify-content: flex-end;

            .action-wrapper {
              &:hover {
                color: red;
                cursor: pointer;

                .like-action {
                  content: 'favorite';
                }
              }
              .like-action {
                content: 'favorite_border';
              }
            }
          }
        }
}

.action-wrapper {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 1025px) {
  #banner-mobile {
    display: none;
  }
}

@media only screen and (min-width: 320px) {
  #idea-grid .mdl-card {
   width: 90%;
 }
}
@media only screen and (min-width: 480px) {
  #idea-grid .mdl-card {
    width: 40%;
  }
}
@media only screen and (min-width: 768px) {
  #idea-grid .mdl-card {
    width: 40%;
  }
}
@media only screen and (min-width: 1024px) {
  #idea-grid .mdl-card {
    width: 30%;
  }
}